:root {
    --navy-blue: #2E2F42;
    --cloud: #F4F4FD;
    --cornflower: #E7E9FC;
    --grey: rgba(46, 47, 66, 0.7);
    --iris: #4D5AE5;
    --light-slate: #8E8F99;
    --slate: #434455;
    --ocean: #404BBF;
    --dairy: #FCFCFC;
}
.container {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--default-color);
    margin: 0;
    padding:0%;
    width: 1440px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.header,
.p-header {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
    background: white;
}
.p-header {
    border: 1px solid var(--cornflower)
}
.header-left {
    display: flex;
    gap: 76px;
}
.header-link {
    text-decoration: none;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    line-height: 1.17;
    color: var(--navy-blue);
    transition: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link span {
    color: var(--iris);
    transition: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:active {
    color: var(--ocean);
}
.header-link span:hover,
.header-link span:active {
    color: var(--ocean);
}
.order:hover,
.order:active {
    background-color: var(--ocean);
    cursor: pointer;
}
.active:active{
    color:var(--iris);
}
.active::after {
    content: " ";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--iris);
    position: relative;
    top: 26px;
}
.link-items {
    padding-inline-start: 0px;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    gap: 40px;
    align-items: center;
    transition: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-items .links:hover,
.link-items .links:focus {
    color: var(--ocean);
}
.links:active {
    color: var(--iris); 
}
.links {
    color: var(--navy-blue);
    list-style-type: none;
    text-decoration: none;
}
.contacts{
    padding-inline-start: 0px;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
.contacts-item .links {
    text-decoration: none;
    list-style-type: none;
    color: var(--slate);
}
.contacts .links:hover,
.contacts .links:focus {
    color: var(--iris);
}
.contacts .links:active {
    color: var(--ocean);
}
.mobile-header {
    display: none;
}
.mobile-menu {
    display: none;
}
.burger-icon {
    fill: var(--navy-blue);
    width: 32px;
    height: 22px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.service-offer {
    background: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url("../images/people-office1.jpg");
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    position: relative;
}
.service-promise {
    color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
}
.order {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    border: none;
    background-color: var(--iris);
    padding: 16px 32px;
    border-radius: 4px;
    transition: 250ms;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-background {
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, .5);
    position:fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    width: 408px;
    height: 584px;
    flex-shrink: 0;
    padding-top: 24px;
    padding-right: 24px;
    border-radius: 4px;
    background: var(--dairy);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: relative;
}
.form-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
}
.modal-button, 
.js-close-menu {
    color: var(--navy-blue);
    width: 24px;
    height: 24px;
    border: 1px solid #0000001A;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--cornflower);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-size: larger;
    transition: 250ms;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:active {
    color: white;
    background-color: var(--ocean);
}
.form-message {
    padding-top: 24px;
    padding-left: 16px;
    position: relative;
    margin: 0;
    color: var(--navy-blue);
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    top: 0;
}
.form-input {
    display: flex;
    align-items: center;
    padding-left: 24px;
}    
.form-input:hover .form-icon,
.form-input:focus .form-icon {
    fill: var(--iris);
}
.form-input:hover .form-box {
    border-color: var(--iris);
}
.form-box:focus {
    border-color: var(--iris);
    outline: none;
}
.comment-input:hover .comment-box{
    border-color: var(--iris);
}
.form-modal {
    padding-top: 16px;
    gap: 8px;
    color: var(--light-slate);
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 14px;
}
.form-box {
    width: 360px;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 40px;
    transition: 250ms;
    transition-property: border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
    position: absolute;
    left: 40px;
    fill: black;
    transition: 250ms;
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-box:focus .form-icon{
    border: 1px solid --iris;
    fill: var(--iris);
}
.form-modal>label {
    text-align: left;
    padding-left: 24px;
}
.comment-input {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.comment-box {
    font-size: 12px;
    font-style: normal;
    color: rgba(46, 47, 66, 0.40);
    width: 360px;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-top: 8;
    padding-left: 20;
    transition: 250ms;
    transition-property: border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
}
.comment-input>textarea{
    padding-left: 16px;
    padding-top: 8px;
}
.comment-box:focus,
.comment-box:hover {
    border: 1px solid --iris;
    outline: none;
}
.form-accept {
    display: flex;
    align-items: center;
    color: var(--light-slate);
    font-size: 12px;
}
.form-accept-icon {
    fill: none;
    border: 1px solid black;
    transition: 250ms;
    transition-property: fill, border; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-accept>p {
    padding-left: 8px;
}
.checkbox-accept {
    width: 16px;
    height: 16px;
    position:absolute;
    z-index: 999;
    opacity: 0;
}
.form-accept .checkbox-accept:focus + .form-accept-icon,
.form-accept .checkbox-accept:checked:focus + .form-accept-icon {
    outline: 2px solid black;
}
.form-accept .checkbox-accept:checked + .form-accept-icon {
    background-color: var(--iris);
    border-color: var(--iris);
    fill: white;
    outline: none;
    stroke: white;
    stroke-width: 0.2px;
}
.forms-submit {
    position: absolute;
    bottom: 24px;
    left: 119px;
    display: block;
    color: white;
    font-size: 16px;
    width: 169px;
    height: 56px;
    background: var(--iris);
    border-radius: 4px;
    border: none;
    transition: 250ms;
    box-shadow: 0px 4px 4px white;
    transition-property: background, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.forms-submit:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background: var(--ocean);
    cursor: pointer;
}
.is-hidden {
    pointer-events: none;
    opacity: 0;
}
.icon-kb {
    border-radius: 4px;
    background: var(--cloud);
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    padding: 24px 0px;
}
.icons-keys {
    width: 64px;
    height: 64px;   
}
.key-behaviors-list {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-inline-start: 0;
}
.key-behaviors-list>li {
    width: 264px;
}
.key-behaviors-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
.key-behaviors-text {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
}
.services-header {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.1;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.service-images {
    padding-inline-start: 0px;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 72px;
}
.service-image{
    width: 360px;
    height: 300px;
    display: block;
    margin: 0;
}
.team-members {
    background-color: var(--cloud);
    padding-top: 120px;
    padding-bottom: 120px; 
}
.team-header {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.1;
    text-align: center;
    margin: 0;
}
.team-list {
    padding-inline-start: 0px;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 72px;
    text-align: center;
}
.team-list>li>img {
    display: block;
}
.member-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-member {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding-top: 32px;
}
.team-position {
    color: var(--slate);
    font-size: 16px;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}
.team-socials-icons {
    width: 16px;
    height: 16px;
}
.team-member-social-links svg {
    fill: white;
}
.team-social-links a {
    text-decoration: none;
}
.team-social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 32px;
}
.team-member-social-links {
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.customer-icon{
    width: 168px;
    height: 88px;
    padding: 16px 32px;
    fill: var(--light-slate);
    border: 1px solid var(--light-slate);
    border-radius: 4px;
}
.customer-icons{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 72px;
}
.customers-header{
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.1;
    text-align: center;
    margin: 0;
}
.customers {
    padding-bottom: 120px;
}
.footer-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    line-height: 1.17;
}
.footer-link span{
    color: var(--iris);
}
.footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.footer-items {
    display: flex;
    flex-direction: column;
    gap: 17.5px;
}
.footer-items>div {
    padding-top: 36px;
}
.offer {
    color: white;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin: 0;
} 
.footer-section {
    background-color: var(--navy-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 312px;
    width: auto;
    gap: 80px;
}
footer .footer-link:hover,
footer .footer-link:active{
    color: var(--ocean);
}
.social-media h3{
    color: white;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin: 0px
}

.team-social-links-footer {
    display: flex;
    gap: 16px;
    padding-top: 16px;
}
.team-member-social-links {
    width: 40px;
    height: 40px;
}
.footer-socials-icons{
    width: 24px;
    height: 24px;
}
.subscribe {
    display: flex;
    gap: 24px;
    color: white;
}
.subscribe-form{
    display: flex;
    flex-direction: column;
}
.subscribe-form>p {
    margin: 0px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    padding-bottom: 16px;
}
.subscribe-box {
    width: 264px;
    height: 40px;
    color: white;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    border: 1px solid white;
    background: transparent;
    transition: 250ms;
    transition-property: border, background, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-box:hover,
.subscribe-box:focus {
    background: white;
    color: black;
    border: 1px solid --iris;
}
.subscribe-icon {
    fill: white;
}
.subscribe-button {
    width: 165px;
    height: 40px;
    background-color: var(--iris);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: white;
    border: none;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    border-radius: 4px;
    transition: 250ms;
    transition-property: border, background;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: auto;
}
.subscribe-button:hover {
    border: 1px solid --ocean;
    background: var(--ocean);
}
.btns {
    display: flex;
    justify-content: center;
    padding-inline-start: 0px;
    margin: 0;
    list-style-type: none;
    gap: 24px;
    padding-top: 96px;
    padding-bottom: 72px;
}
.btn-links {
    color: var(--iris);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    padding: 12px 24px;
    border-radius: 4px;
    border-width: 1px;
    background: var(--cloud);
    border-color: var(--cornflower);
    border-style: solid;
}
.btn-links:hover {
    background: var(--iris);
    color: white;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
}
.project {
    border: 1px solid var(--cornflower);
}
.project-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    padding-bottom: 120px;
    padding-inline-start: 0;
}
.project-list li{
    border: 1px solid --cloud;
}
.project-list li img{
    border: 1px solid --cornflower;
}
.project-card{
    width: 360px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.project:hover,
.project:active {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.project-caption{
    width: 360px;
    height: 300px;
    position: absolute;
    background: rgba(77, 90, 229, 0.7);
    border: 1px solid --iris;
    color: white;
    top: 0;
    left: 0;
    display: block;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.project-desc {
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.project:hover .project-caption,
.project:active .project-caption{
    opacity: 1;
    transform: translateY(0%);
}
.project-caption p {
    padding: 40px 32px;
}
.proj-name {
    margin: 0;
    padding-bottom: 16px;
}
.proj-desc {
    margin: 0;
}
@media screen and (min-width: 769px) and (max-width: 1158px){
    .key-behaviors,
    .customers {
        width: 768px;
    }
    .mobile-menu {
        display: none;
    }
    main {
        gap:96px;
        justify-content: center;
        align-items: center;
    }
    header {
        align-items:normal;
        height: 78px;
    }
    .header-left {
        gap: 120px;
    }
    .contacts {
        flex-direction: column;
        gap: 12px;
    }
    .service-offer {
        height: 436px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    .services {
        display: none; 
    }
    .icon-kb {
        display: none;
    }    
    .key-behaviors-list {
        display: flex;
        flex-wrap: wrap;
    }
    .key-behaviors-list>li {
        width: calc(100%/2 - 24px);
    }
    .key-behaviors-header {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 111.111% */
        letter-spacing: 0.72px;
        margin: 0;
        padding-bottom: 8px;
    }
    .key-behaviors-text {
        margin: 0;
    }
    .key-behaviors-list>li:first-child {
        padding-bottom: 72px;
    }
    .team-list {
        display: flex;
        flex-wrap: wrap;
    }
    .team-members {
        padding-top: 96px;
        padding-bottom: 96px;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .team-section {
        width: 768px;
    }
    .customers {
        padding-bottom: 96px;
    }
    .customer-icons {
        display: flex;
        margin-left: 108px;
        margin-right: 108px;
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: calc(100%/3 - 24px);
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-section {
        display: flex;
        flex-direction: column;
        padding-top: 96px;
        padding-bottom: 96px;
        height: auto;
        width: 100vw;
    }
    .footer-left
    {
        align-items: normal;
        width: 100vw;
        justify-content: space-between;
        padding-left: 108px;
        padding-right: 108px;
        gap: 0px;
    }
    .footer-items>div {
        padding-top: 0;
    }
    .subscribe>p {
        margin: 0;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px){ 
    main {
        gap: 96px;
    }
    .mobile-menu.is-open {
        transform: translateX(0);
    }
    .mobile-menu {
        display: block;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 999;
        background-color: white;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    }
    .mobile-menu-container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
    }
    .mobile-link-items {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 0;
        padding-top: 80px;
    }
    .mobile-link-items,
    .mobile-contacts {
        list-style-type: none;
    }
    .js-close-menu {
        position: absolute;
        right: 24px;
        top: 24px;
    }
    .header {
        display: none;
    }
    .menu-toggle {
        border: none;
        background-color: white;
    }
    .burger-icon {
        display: block;
    }
    .mobile-header {
        display: flex;
        justify-content: center;
    }
    .js-close-menu:hover,
    .js-close-menu:active {
        color: white;
        background-color: var(--ocean);
    }
    .mobile-container {
        width: 100vw;
        height: 70px;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-links {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
        text-decoration: none;
        color: var(--navy-blue);
        transition: 250ms;
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-links:hover,
    .mobile-links:active {
        color: var(--iris);
    }

    .menu-tel {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 111.111% */
        letter-spacing: 0.72px;
        color: var(--slate);
    }
    .menu-email {
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 120% */
        letter-spacing: 0.4px;
        color: var(--slate);
    }
    .menu-tel,
    .menu-email {
        text-decoration: none;
        transition: 250ms;
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .menu-tel:hover,
    .menu-email:hover,
    .menu-tel:active,
    .menu-email:active {
        color: var(--iris);
    }
    .mobile-contacts {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-bottom: 48px;
        
    }
    .team-social-links-mobile {
        display: flex;
        justify-content: space-around;
        padding-bottom: 40px;
    }
    .section {
        width: 100vw;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
    }
    .container {
        justify-content: center;
        align-items: center;
        width: 428px;
        flex-direction: column;
    }
    .services {
        display: none; 
    }
    .icon-kb {
        display: none;
    }
    .service-offer {
        height: 432px;
        padding-top: 112px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service-promise {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 111.111% */
        letter-spacing: 0.72px;
        margin: 0;
        padding-bottom: 72px;
        display: flex;
        justify-content: center;
    }
    .key-behaviors-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .key-behaviors-list>li {
        width: auto;
    }
    .key-behaviors-header {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 111.111% */
        letter-spacing: 0.72px;
        text-align: center;
        margin: 0;
        padding-bottom: 8px;
    }.key-behaviors-text {
        margin: 0;
    }
    .team-list {
        display: flex;
        flex-direction: column;
    }
    .team-members {
        flex-direction: column;
    }
    .customer-icons {
        flex-wrap: wrap;
    }
    .customers {
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
    }
    .footer-section {
        flex-direction: column;
        height: auto;
        width: 100vw;
        justify-content: center;
        padding-top: 96px;
        gap: 72px;
    }
    .footer-left {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 72px;
    }
    .footer-items {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-items>div {
        padding-top: 0;
    }
    .social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .subscribe {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 96px;
    }
    .subscribe-form {
        justify-content: center;
        align-items: center;
        width: 420px;
    }
    .add-email{
        width: 420px;
    }
    .subscribe-box {
        width: -webkit-fill-available;
    }
    @media screen and (max-width: 427px){
        .container,
        .mobile-container,
        .section,
        .mobile-header,
        .subscribe-form,
        .add-email,
        .modal,
        footer {
            width: 100vw;
        }
        .form-box,
        .comment-box {
            width: 280px;
        }
        .modal {
            height: 100vh;
        }
        .forms-submit{
           left: 76px;
        }
    }
}